.body{
  width: 1250px;
  min-width: 1000px;
  min-height: 65vh;
}

.App {
  text-align: center;
  background-image: linear-gradient(115deg, #FF1493, #073d71, #00512b, #03182c, #010c15);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: white;
  font-family: "Verdana Bold", "Gill Sans";
  min-height: 100vh;
}

.header{
  width: 80%;
  margin-top: 20px;
}

.header_slo{
  font-size: 0.55em;
  font-style: italic;
  line-height: 20px;
  margin: 0px;
  font-family: 'Courier New', Courier, monospace;
}

.header img {
  float: left;
  height: 45px;
}

.header_logo {
  width: 450px;
  margin: 0 auto;
  margin-top: 25px;
  height: 45px;
  line-height: 45px;
  font-size: 15px;
}

.inputbtn{
  width: 40%;
  height: 38px;
  margin-top: 25px;
  margin-bottom: 30px;
  position: sticky;
  top: 10px;
  z-index: 999;
  border-radius: 5px;
}

.inputbtn input{
  width: 200px;
  background: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.03em;
  backdrop-filter: blur(20px) saturate(150%) brightness(180%);
  transition: transform 0.2s;
}

.inputbtn input:hover {
  transform: scale(1.03);
}

.search-btn span{
  color: #9ca8b4;
  background: #425379;
  border: none;
  box-shadow: 0px 0px 30px #020a11;
}

.mb-3:hover{
  cursor: pointer;
}

.bodyHead{
  text-align: left;
  margin: 0 30px;
  letter-spacing: 0.08em;
  text-shadow: 0px 0px 10px #020a11;
}

.movie{
  width: 200px;
  float: left;
  margin: 0 25px 65px 25px;
}

.card{
  margin-top: 20px;
  width: 200px;
  font-size: 15px;
  height: 320px;
  border: none;
  background: none;
  color: white;
}

.card img {
  box-shadow: 0px 0px 10px #020a11;
  margin: 0;
  transition: transform 0.2s, box-shadow 0.2s, margin-top 0.2s;
  border-radius: 5px;
}

.card img:hover {
  cursor: pointer;
  box-shadow: 0px 0px 45px #8B8989;
  margin-top: -15px;
  transform: scale(1.03);
}

.rating{
  background: #20B2AA;
  position: absolute;
  top: 20px;
  left: 165px;
  width: 50px;
  height: 35px;
  border-radius: 7px;
  font-size: 1.0em;
  line-height: 35px;
  color: white;
  box-shadow: 0px 0px 15px black;
  transition: transform 0.1s, left 0.1s, background 0.1s, backdrop-fliter 0.1s, box-shadow 0.1s;
}

.rating:hover {
  cursor: none;
  box-shadow: none;
  background: rgba(10, 10, 10, 0.3);
  backdrop-filter: blur(5px);
  transform: scale(1.3);
}

.card-body, .card-body p, .card-body h5{
  margin: 0;
  padding: 0;
  text-align: left;
}

.card-body h5 {
  margin-top: 8px;
  font-size: 1em;
}

.card-body img{
  font-size: 15px;
  margin-top: 15px;
}

.card-body p {
  font-size: 12px;
  color: #5a7187
}

.footer{
  width: 1100px;
  height: 60px;
}

.footer img {
  margin-top: 10px;
  margin-left: 20px;
  width: 100px;
  float: left;
}
.line{
  width: 1100px;
  height: 2px;
  background: #9ca8b4
}
.footDesc{
  width: 80%;
  height: 45px;
  float: left;
}
.footcopy {
  width: 20%;
  height: 45px;
  float: left;
}

.footDesc p {
  font-size: 11px;
  padding: 0;
  margin: 11px 0 0 40px;
  width: 700px;
  float: left;
}

.footcopy p{
  font-size: 11px;
  padding: 12px 0 0 0;
  margin: 0;
}

.fallBack{
  margin-top: 50px
}

.fallBack h5{
  font-size: 1.5em
}
.fallBack b{
  font-weight: 100;
  color: #5f7d9b
}

.fallBack button:hover{
  cursor: pointer;
}

.details{
  width: 90%;
  margin: 0 auto;
  margin-top: -25px;
  margin-bottom: 15px;
  text-align: left;
}

.detail_bg{
  margin-top: -5px;
  box-shadow: 0px 0px 30px #020a11;
  border-radius: 5px;
}

.detail_po {
  width: 180px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0px 5px 50px black;
  border: 2px solid #9ca8b4;
}

.detail_info {
  width: 140px;
  height: 60px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 5px;
  border: 2px solid #9ca8b4;
  border-radius: 5px;
  text-align: center;
  float: left;
}

.details h5{
  font-weight: bold;
  font-size: .55em;
  color: #EED8AE;
}

.textDetail{
  font-weight: bold;
  font-size: 0.95em;
}

.textDetail_2 {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: mormal;
}

.details_content {
  margin: 0 auto;
  margin-top: 10px;
  padding: 15px;
  border-radius: 10px;
  background: rgba(79, 79, 79, 0.5);
  width: 680px;
  backdrop-filter: blur(20px);
}

.details_scroll {
  max-height: 190px;
}

.overflow-scrolling {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.details button{
  color: #9ca8b4;
  font-size: 0.5em;
  background: #394c75;
  border: none;
  box-shadow: 0px 0px 10px #020a11;
  margin-top: -55px;
  margin-left: 20px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.details button:hover{
  box-shadow: 0px 0px 30px wheat;
  background: #425379;
  color: #bcd0e3;
  transform: scale(1.1);
}

.details button:focus {
  outline: none;
}

.fallBack_btn {
  color: #9ca8b4;
  background: #394c75;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #020a11;
  transition: transform 0.2s, box-shadow 0.2s;
}

.fallBack_btn:hover{
  box-shadow: 0px 0px 10px wheat;
  background: #425379;
  color: #bcd0e3;
  transform: scale(1.04);
}
